/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
  article{
      min-height: 300px;
      min-width: 300px;
  }
}
body{
  background-color: rgb(236,240,240);
}
article{
  min-height: 300px;
  max-height: 300px;
  max-width: 300px;
  background-color: white;
  margin:10px; 
  padding: 20px;
  border-radius: 15px;
}

time{
  margin-top: 0px;
  margin-bottom: 20px;
  color: #ecf0f1;
}
.title{
  margin-bottom: 0px;
}
.myText{
  margin-top: 10px;
}
summary{
  display:block;
}
aside{
  position: right;
}
span{
  color: rgb(218,132,59);
}
.category{
  color: rgb(236,240,240);
  float:right;
}
.image1{
  background-image: url("http://lorempixel.com/300/300/")
}
.image2{
  background-image: url("http://placekitten.com/g/300/300")
}

.image > summary{
  color:white;
  vertical-align: bottom;
  position: absolute;
  bottom:20px;
}
.image > summary  .votes{
  color: rgb(236,240,240);
  float:right;
  margin-right: 10px;
  margin-bottom: 10px;
}

.nav ul {
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 10px;
  border-bottom: 1px solid #888;
}
.nav li {
  font-size: 28px;
  line-height: 40px;
  height: 40px;
  display: inline;
  margin-right: 20px;
}
.nav li a{
  color:rgb(195,198,203);
}
.nav li:hover a{
  text-decoration: none;
}

.nav li.active a{
  color:black !important;
  border-bottom: 5px solid rgb(60,200,110);
}
.nav li .active{
  background-color:red;
}
.nav li:active{
  color:red;
}